@page "/"
@inject Data.DataHandlerService DataHandler

@implements IDisposable

<h1>Live matches</h1>

@if (DataHandler.CurrentMatch != null)
{
    <TeamScoreDataGrid @ref="dataGrid" currentMatch=@DataHandler.CurrentMatch />
}



@code{
    public TeamScoreDataGrid dataGrid;
    protected override void OnInitialized()
    {
        DataHandler.OnScoreChange += ReloadGrid;

    }
    public void Dispose()
    {
        DataHandler.OnScoreChange -= ReloadGrid;
    }

    void ReloadGrid() //rak: this was never called?
    {
        dataGrid?.Reload();
        InvokeAsync(StateHasChanged);
    }
}