@page "/"
@inject Data.DataHandlerService DataHandler
@inject Data.AppState AppState
@implements IDisposable

<h1>Live matches</h1>

@if (DataHandler.CurrentMatch != null)
{
    <TeamScoreDataGrid @ref="dataGrid" currentMatch=@DataHandler.CurrentMatch />
}



@code{
    public TeamScoreDataGrid dataGrid;
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;

    }
    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    void ReloadGrid()
    {
        AppState.ReloadGrid(DataHandler.CurrentMatch.Scores);
        dataGrid.Reload();
    }
}