@page "/"
@inject Data.DataHandlerService DataHandler

<h1>Live matches</h1>

@if (DataHandler.CurrentMatch != null)
{
    <TeamScoreDataGrid @ref="dataGrid" currentMatch=@DataHandler.CurrentMatch ScoreListChanged="@ScoreListChanged" />
}



@code{
    TeamScoreDataGrid dataGrid;
    public void ScoreListChanged()
    {
        dataGrid.Reload();
    }
}