@page "/matchsetup"

<h1>Match Setup</h1>

<h5>On this page you can set up a new match!</h5>
<h6>Select the 2 teams:</h6>

<p><TeamSelect @ref="teamA"></TeamSelect> vs <TeamSelect @ref="teamB"></TeamSelect></p>


<RadzenSelectBar @bind-Value=@inDoor TValue="bool">
    <Items>
        <RadzenSelectBarItem Text="OutDoor/7v7" Value="true" />
        <RadzenSelectBarItem Text="InDoor/5v5" Value="false" />
        </Items>
</RadzenSelectBar>

    @code {
        TeamSelect teamA;
        TeamSelect teamB;
        bool inDoor = true;
    }
