@page "/matchsetup"
@inject NavigationManager UriHelper
@inject Data.DataHandlerService DataHandler

<h1>Match Setup: </h1>
<h5>On this page you can set up a new match!</h5>
<h6>Select the 2 teams:</h6>

<div><TeamSelect TeamList="@DataHandler.TeamList" @bind-SelectedTeam="teamA"></TeamSelect> vs <TeamSelect TeamList="@DataHandler.TeamList" @bind-SelectedTeam="teamB"></TeamSelect></div> 


<RadzenSelectBar @bind-Value=@inDoor TValue="bool">
    <Items>
        <RadzenSelectBarItem Text="OutDoor/7v7" Value="false" />
        <RadzenSelectBarItem Text="InDoor/5v5" Value="true" />
    </Items>
</RadzenSelectBar>

<h3 style="margin-top: 2rem">Enter the cap</h3>
<RadzenNumeric TValue="int" Min="1" Max="15" />

<p><RadzenButton Click=@(args => StartMatch()) Text="Start" Style="margin-bottom: 20px; width: 150px" /></p>

@code {
    public static Team teamA;
    public static Team teamB;
    bool inDoor = true;

    void StartMatch()
    {
        Match currentMatch = new Match();
        currentMatch.Team1 = teamA;
        currentMatch.Team2 = teamB;
        currentMatch.InDoor = inDoor;
        currentMatch.Scores = new List<Score>();
        currentMatch.RefName = "Tamas";
        DataHandler.CurrentMatch = currentMatch;

        UriHelper.NavigateTo("currentmatch");
    }

}
