@page "/currentmatch"
@inject NavigationManager UriHelper
@inject Data.DataHandler DataHandler

<h3>OnGoingMatch</h3>
@currentMatch.Team1.TeamName
Scorer:
<PlayerSelect @ref="_playerSelectA" PlayerList="playersA" @bind-SelectedPlayer="scorer"></PlayerSelect>
Assist:
<PlayerSelect @ref="playerB" PlayerList="playersA" @bind-SelectedPlayer="assist"></PlayerSelect>

<RadzenButton Click=@(args => AddToScore()) Text="Add" Style="margin-bottom: 20px; width: 150px" />

@currentMatch.Team2.TeamName
Scorer:
<PlayerSelect @ref="playerC" PlayerList="playersB" @bind-SelectedPlayer="scorer"></PlayerSelect>
Assist:
<PlayerSelect @ref="playerD" PlayerList="playersB" @bind-SelectedPlayer="assist"></PlayerSelect>

<RadzenButton Click=@(args => AddToScore()) Text="Add" Style="margin-bottom: 20px; width: 150px" />

<TeamScoreDataGrid currentMatch=@DataHandler.CurrentMatch @ref="dataGrid" />

<RadzenButton Click=@(args => Undo()) Text="Undo" Style="margin-bottom: 20px; width: 150px" />
<RadzenButton Click=@(args => MatchOver()) Text="Match Over" Style="margin-bottom: 20px; width: 150px" />


@code {
    TeamScoreDataGrid dataGrid;
    PlayerSelect _playerSelectA;
    PlayerSelect playerB;
    PlayerSelect playerC;
    PlayerSelect playerD;
    Match currentMatch;
    List<Player> playersA;
    List<Player> playersB;
    Player scorer;
    Player assist;


    void AddToScore()
    {
        if (scorer != null)
        {
            Score score = new Score();
            score.Scorer = scorer;
            score.Assist = assist;
            score.DateTime = DateTime.Now;
            currentMatch.Scores.Add(score);
            dataGrid.Reload();
            _playerSelectA.Reset();
            playerB.Reset();
            playerC.Reset();
            playerD.Reset();
        }



    }

    void Undo()
    {
        DataHandler.RemoveLast(currentMatch);
        dataGrid.Reload();
    }

    void MatchOver()
    {
        DataHandler.savedMatches.Add(currentMatch);

        UriHelper.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        currentMatch = DataHandler.CurrentMatch;
        playersA = currentMatch.Team1.Players;
        playersB = currentMatch.Team2.Players;

    }
}
