<RadzenDropDown AllowClear="true" TValue="string" Style="width:300px" Data=@(teams.Select(c => c.TeamName).Distinct()) Change=@(args => OnChange(args, "DropDown")) />

@if (team != null)
{
    <ul>
        @foreach (var player in team.Players)
        {
            <li>@player.Name</li>
        }
    </ul>
}

@code
{
    List<Team> teams = Keeper_of_the_Scores.Data.DataHandler.TeamList;
    public string text;
    public Team team;
    void OnChange(object value, string name)
    {
        team = teams.Find(i => i.TeamName == value);
    }
}