

<select @bind="_selectedTeam">
 @foreach(var team in teams)
            {
                <option>@team.TeamName</option>
            }
</select>

@code {
    public string _selectedTeam;
    List<Team> teams = Keeper_of_the_Scores.Data.DataHandler.TeamList;
      }
